test
.github
debug_key*
debug_key*.pub
.DS_Store
node_modules
build
.remote-sync.json
.remote-sync.json.*
package-lock.json
upload.sh
rf24_bup.cc
.vscode
test/irq
npm-debug.log
bup
.vim-arsync
rf24libss
    